.studies {
  @include desktop-above {
    padding: 70px 60px;
  }

  @include mobile-above {
    padding: 40px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border-radius: var(--border-radius-large);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mobile {
      display: flex;
      width: 100%;
      max-width: 100%;
      column-gap: 20px;
      overflow-x: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }

    &::-webkit-scrollbar {
      @include mobile {
        display: none;
      }
    }
  }

  &__item {
    --studiesItemPaddingX: 64px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include desktop {
      --studiesItemPaddingX: 32px;
    }

    @include mobile-above {
      &:not(:first-child) {
        padding-left: var(--studiesItemPaddingX);
      }

      &:not(:last-child) {
        padding-right: var(--studiesItemPaddingX);
        border-right: 1px solid var(--color-light);
      }
    }

    @include mobile {
      min-width: 350px;
      padding: 42px 50px;
      color: var(--color-light);
      background-color: var(--color-dark);
      border-radius: var(--border-radius-large);
      scroll-snap-align: start;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-accent);

    @include hover {
      opacity: 0.7;
    }
  }

  &__actions {
    display: none;
  }

  @include mobile {
    &__actions {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 24px;
      margin-top: 2px;
    }
  }

  &__arrow-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 0;
    color: var(--color-dark);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition:
      color 0.2s ease,
      opacity 0.2s ease;
  }

  &__arrow-button:disabled {
    color: rgba(41, 38, 38, 0.7);
    cursor: default;
  }

  &__arrow-button svg {
    width: 23px;
    height: 23px;
  }
}
